<div class="deviseForm">

  <h2 class="text-center">Forgot Your Password?</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="inputDevise">
      <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email' %>
    </div>

    <div class="inputDevise">
      <%= f.submit "Send me reset password instructions", class: 'btn btn-block btn-primary' %>
    </div>
  
  <% end %>

</div> <!-- deviseForm -->