/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
html {
  background-color: #B0E2FF;
}

.apptIndex {
  margin: 0 25% 10px 25%;
  padding: 10px 10px 10px 10px;
  height: auto;
  border-radius: 25px;
  position: absolute center;
  background-color: white;
}

.apptIndexContents {
  margin-bottom: 10px;
}

.apptAdd {
  margin: 0 25% 10px 25%;
  padding: 1px;
  border-radius: 5px;
  background-color: white;
}

.clientIndex {
  margin-top: -21px;
}

.container-fluid {
  background-color: #B0E2FF;
}

.buttons {
  text-align: center;
}

#welcomeBanner {
  text-align: center;
}

.homePage {
  margin: -21px 25% 10px 25%;
  border-radius: 25px;
  padding: 10px 10px 10px 10px;
  background-color: white;
}

.inputDevise {
  margin: 0 25% 10px 25%;
  padding: 1px;
  border-radius: 5px;
  background-color: white;
}

.deviseForm {
  margin-top: -21px;
}

.outerApptForm {
  margin-top: -21px;
}

.apptForm {
  margin: 0 25% 10px 25%;
  padding: 2.5px 2% 2.5px 2%;
  border-radius: 25px;
  background-color: white;
}

.apptFormDateTime {
  margin: 0 25% 10px 25%;
  padding: 2.5px 1.5% 8px 1.5%;
  border-radius: 25px;
  background-color: white;
}

.apptFormButton {
  margin: 0 25% 10px 25%;
  padding: 1px;
  border-radius: 5px;
  background-color: white;
}

.stylistSelectLabel {
  text-align: center;
}