<div class="outerApptForm col-xs-10 col-xs-offset-1" id="standardForm">

  <h1 class="text-center"><%= current_client.first_name %></h1>

  <%= render partial: (request.user_agent =~ /Mobile/i).nil? ? 'desktopForm' : 'mobileForm' %>


</div> <!-- outerApptForm id="standardForm" -->

